/*.profile-content {
    width: 100%;
    max-width: 1120px;
    height: 100vh;
    margin: 0 auto;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}*/

.profile-container {
    overflow-y: scroll;
    overflow: hidden;
}

.navbar {
    position: fixed;
    top: 0;
    width: 100%;
    margin-bottom: 100px;
    height: 800px;
}

.profile-content {
    width: 100%;
    max-width: 1120px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.header {
    margin-top: 120px;
    margin-bottom: 20px;
    display: flex;
    flex-direction: row;
    width: 100%;
    max-width: 1120px;
    justify-content: space-between;
}

.card {
    display: flex;
    flex-direction: row;
    background-color: #c49000;
    width: 80%;
    min-width: 600px;
    height: 200px;
    border-radius: 30px;
    overflow: hidden;
}

.account {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: #9a0007;
    margin-left: 10px;
}

.account p {
    color: #9a0007;
}

.data {
    display: flex;
    flex-direction: column;
    justify-items: center;
    font-size: 24px;
    color: #4b2c20;
    margin-left: 40px;
    margin-top: 40px;
}

.remove {
    display: flex;
    flex-direction: column;
    margin-left: 300px;
    margin-top: 120px;
    color: #9a0007;
    font-size: 24px;
}


.header h1 {
    color: #9a0007;
    font-weight: 400;
    font-size: 36px;
    align-self: flex-start;
} 

.profile-content h1 {
    color: #ffffff;
    font-size: 48px;
    align-self: flex-start;
    font-weight: 400;
    margin-bottom: 20px;
}

a.back {
    display: flex;
    margin-left: 40px;
    color: #c49000;
    text-decoration: none;
    font-weight: 400;
    transition: opacity 0.2;
    font-size: 36px;
}

.post {
    width: 90%;
    max-width: 1000px;
    height: 200px;
    background-color: #ffffff;
    align-self: center;
    padding: 20px 20px;
    border-radius: 30px;
    margin-bottom: 20px;
}

.post h1 {
    font-size: 36px;
    font-weight: 700;
    color: #c49000;
    margin-bottom: 10px;
}

.post p {
    font-size: 24px;
    color: #4b2c20;
    margin-bottom: 10px;
}

.buttons {
    display: flex;
    flex-direction: column;
}

.post a {
    font-size: 24px;
    color: #9a0007;
    text-decoration: none;
    cursor: pointer;
    margin-bottom: 0px;
}
